In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("vessel_movements_PPT.csv")

In [7]:
df

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,anchorage,terminal,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl
0,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:42.000Z,2023-09-17,103.826065,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
1,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:44.000Z,2023-09-17,103.826065,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
2,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:43.000Z,2023-09-17,103.825690,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
3,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:45.000Z,2023-09-17,103.825690,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
4,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:10:42.000Z,2023-09-17,103.825580,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2822594,9708693,374766000,714547,MSC CLARA,2015-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T21:59:17.000Z,2023-08-21,103.761665,...,NaN,NaN,PPT Maneouvering Zone,62500.0,19.0,175.00,220.0,300.0,NaN,NaN
2822595,9708693,374766000,714547,MSC CLARA,2015-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:02:17.000Z,2023-08-21,103.761665,...,NaN,NaN,PPT Maneouvering Zone,62500.0,19.0,175.00,220.0,300.0,4493.0,908.0
2822596,9449106,636020361,647347,MENDELSSOHN,2012-04-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T21:58:47.000Z,2023-08-21,103.783330,...,NaN,NaN,PPT Maneouvering Zone,31990.0,23.0,174.83,220.0,300.0,NaN,NaN
2822597,9449106,636020361,647347,MENDELSSOHN,2012-04-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:01:47.000Z,2023-08-21,103.783330,...,NaN,NaN,PPT Maneouvering Zone,31990.0,23.0,174.83,220.0,300.0,2503.0,436.0
2822598,9450313,636091832,647462,Northern Priority,2009-10-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:01:40.000Z,2023-08-21,103.766670,...,NaN,NaN,PPT Maneouvering Zone,36560.0,22.5,172.91,195.0,300.0,NaN,NaN

In [38]:
column_headers = list(df.columns)
column_headers

['imo',
 'mmsi',
 'vessel_id',
 'vessel_name',
 'date_of_build',
 'vessel_type',
 'group',
 'timestamp',
 'date_only',
 'lon',
 'lat',
 'nav_stat',
 'speed',
 'course',
 'heading',
 'fuel_category',
 'main_engine_fuel_type',
 'aux_engine_fuel_type',
 'engine_type',
 'berth',
 'port_name',
 'coverage',
 'anchorage',
 'terminal',
 'maneuvering_zone',
 'p',
 'vref',
 'sfc_me',
 'sfc_ae',
 'sfc_ab',
 'ael',
 'abl',
 'moving']

In [25]:
df.sort_values(by="timestamp",ascending = False, inplace = True)
df

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,anchorage,terminal,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl
2689343,9450911,414693000,647514,REN JIAN 16,2009-07-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:52.000Z,2023-09-30,103.766670,...,NaN,Pasir Panjang Terminal,PPT Maneouvering Zone,36560.0,23.25,169.27,203.743,300.0,950.0,457.0
2657930,9144316,413701060,690809,JIN SHUN HE,1997-08-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:46.000Z,2023-09-30,103.778336,...,NaN,NaN,PPT Maneouvering Zone,13383.0,20.00,195.00,230.000,300.0,2292.0,386.0
2657779,9162277,636016574,729195,MSC SKY II,1999-03-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:41.000Z,2023-09-30,103.758330,...,NaN,NaN,PPT Maneouvering Zone,16241.0,19.00,185.00,230.000,300.0,2312.0,391.0
2664041,9496068,565823000,771565,MARINE JEWEL,2008-10-01,Products Tanker,Crude & Products Tanker,2023-09-30T15:59:33.000Z,2023-09-30,103.773330,...,NaN,Pasir Panjang Terminal,PPT Maneouvering Zone,5000.0,12.00,195.00,230.000,300.0,652.0,768.0
2670635,9567685,477455600,732583,DA KUN SHAN,2009-12-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-09-30T15:59:30.000Z,2023-09-30,103.801670,...,PPT Anchorage,NaN,NaN,3310.0,11.50,195.00,230.000,300.0,453.0,362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426800,9386093,563009220,674271,NOBLE VEGA,2007-08-01,Tug,Tug Boat,2023-08-01T00:00:00.000Z,2023-08-01,103.763330,...,NaN,NaN,PPT Maneouvering Zone,2942.0,11.50,195.00,230.000,300.0,NaN,NaN
2448274,9910997,563132900,829742,ESSENCE,2021-08-01,Bunkering Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.757890,...,NaN,NaN,NaN,2470.0,11.60,195.00,230.000,300.0,NaN,NaN
2444483,9839181,228394600,849044,CMA CGM PALAIS ROYAL,2020-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-01T00:00:00.000Z,2023-08-01,103.788190,...,NaN,Pasir Panjang Terminal,PPT Maneouvering Zone,63840.0,18.50,143.40,220.000,300.0,NaN,NaN
2429159,9204025,564759000,645243,I MOLA,1995-01-01,Passenger Ship,Passenger/Cruise,2023-08-01T00:00:00.000Z,2023-08-01,103.788600,...,PPT Anchorage,NaN,NaN,1830.0,26.00,205.00,230.000,300.0,NaN,NaN
2452535,9612557,538004558,866234,ASPHALT SPIRIT,2012-02-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.796524,...,PPT Anchorage,NaN,NaN,4500.0,13.63,189.29,212.170,300.0,NaN,NaN

In [52]:
df["moving"] = False

In [57]:
navigational_status = [0, 3, 4, 8, 11, 12]

df.loc[(df["speed"] > 1) | (df["nav_stat"].isin(navigational_status)), "moving"] = True
df

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,terminal,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl,moving
2689343,9450911,414693000,647514,REN JIAN 16,2009-07-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:52.000Z,2023-09-30,103.766670,...,Pasir Panjang Terminal,PPT Maneouvering Zone,36560.0,23.25,169.27,203.743,300.0,950.0,457.0,True
2657930,9144316,413701060,690809,JIN SHUN HE,1997-08-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:46.000Z,2023-09-30,103.778336,...,NaN,PPT Maneouvering Zone,13383.0,20.00,195.00,230.000,300.0,2292.0,386.0,True
2657779,9162277,636016574,729195,MSC SKY II,1999-03-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:41.000Z,2023-09-30,103.758330,...,NaN,PPT Maneouvering Zone,16241.0,19.00,185.00,230.000,300.0,2312.0,391.0,True
2664041,9496068,565823000,771565,MARINE JEWEL,2008-10-01,Products Tanker,Crude & Products Tanker,2023-09-30T15:59:33.000Z,2023-09-30,103.773330,...,Pasir Panjang Terminal,PPT Maneouvering Zone,5000.0,12.00,195.00,230.000,300.0,652.0,768.0,True
2670635,9567685,477455600,732583,DA KUN SHAN,2009-12-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-09-30T15:59:30.000Z,2023-09-30,103.801670,...,NaN,NaN,3310.0,11.50,195.00,230.000,300.0,453.0,362.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426800,9386093,563009220,674271,NOBLE VEGA,2007-08-01,Tug,Tug Boat,2023-08-01T00:00:00.000Z,2023-08-01,103.763330,...,NaN,PPT Maneouvering Zone,2942.0,11.50,195.00,230.000,300.0,NaN,NaN,True
2448274,9910997,563132900,829742,ESSENCE,2021-08-01,Bunkering Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.757890,...,NaN,NaN,2470.0,11.60,195.00,230.000,300.0,NaN,NaN,True
2444483,9839181,228394600,849044,CMA CGM PALAIS ROYAL,2020-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-01T00:00:00.000Z,2023-08-01,103.788190,...,Pasir Panjang Terminal,PPT Maneouvering Zone,63840.0,18.50,143.40,220.000,300.0,NaN,NaN,False
2429159,9204025,564759000,645243,I MOLA,1995-01-01,Passenger Ship,Passenger/Cruise,2023-08-01T00:00:00.000Z,2023-08-01,103.788600,...,NaN,NaN,1830.0,26.00,205.00,230.000,300.0,NaN,NaN,True
2452535,9612557,538004558,866234,ASPHALT SPIRIT,2012-02-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.796524,...,NaN,NaN,4500.0,13.63,189.29,212.170,300.0,NaN,NaN,True

In [85]:
df["operating_mode"] = None

In [89]:
df.loc[((df["moving"]==True) & (df["maneuvering_zone"].isna())),"operating_mode"]= "Transit"
df.loc[((df["moving"]==True) & (df["maneuvering_zone"].notna())),"operating_mode"]= "Maneuvering"
df.loc[((df["speed"] < 1) & (df["anchorage"].notna())), "operating_mode"]="Anchorage"
df.loc[((df["speed"] < 1) & (df["berth"].notna())), "operating_mode"]="berth"
df  #Step 1 done

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl,moving,operating_mode
2689343,9450911,414693000,647514,REN JIAN 16,2009-07-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:52.000Z,2023-09-30,103.766670,...,PPT Maneouvering Zone,36560.0,23.25,169.27,203.743,300.0,950.0,457.0,True,berth
2657930,9144316,413701060,690809,JIN SHUN HE,1997-08-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:46.000Z,2023-09-30,103.778336,...,PPT Maneouvering Zone,13383.0,20.00,195.00,230.000,300.0,2292.0,386.0,True,Maneuvering
2657779,9162277,636016574,729195,MSC SKY II,1999-03-01,Container Ship (Fully Cellular),Container Ship,2023-09-30T15:59:41.000Z,2023-09-30,103.758330,...,PPT Maneouvering Zone,16241.0,19.00,185.00,230.000,300.0,2312.0,391.0,True,Maneuvering
2664041,9496068,565823000,771565,MARINE JEWEL,2008-10-01,Products Tanker,Crude & Products Tanker,2023-09-30T15:59:33.000Z,2023-09-30,103.773330,...,PPT Maneouvering Zone,5000.0,12.00,195.00,230.000,300.0,652.0,768.0,True,berth
2670635,9567685,477455600,732583,DA KUN SHAN,2009-12-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-09-30T15:59:30.000Z,2023-09-30,103.801670,...,NaN,3310.0,11.50,195.00,230.000,300.0,453.0,362.0,True,Anchorage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426800,9386093,563009220,674271,NOBLE VEGA,2007-08-01,Tug,Tug Boat,2023-08-01T00:00:00.000Z,2023-08-01,103.763330,...,PPT Maneouvering Zone,2942.0,11.50,195.00,230.000,300.0,NaN,NaN,True,Maneuvering
2448274,9910997,563132900,829742,ESSENCE,2021-08-01,Bunkering Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.757890,...,NaN,2470.0,11.60,195.00,230.000,300.0,NaN,NaN,True,Transit
2444483,9839181,228394600,849044,CMA CGM PALAIS ROYAL,2020-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-01T00:00:00.000Z,2023-08-01,103.788190,...,PPT Maneouvering Zone,63840.0,18.50,143.40,220.000,300.0,NaN,NaN,False,None
2429159,9204025,564759000,645243,I MOLA,1995-01-01,Passenger Ship,Passenger/Cruise,2023-08-01T00:00:00.000Z,2023-08-01,103.788600,...,NaN,1830.0,26.00,205.00,230.000,300.0,NaN,NaN,True,Transit
2452535,9612557,538004558,866234,ASPHALT SPIRIT,2012-02-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.796524,...,NaN,4500.0,13.63,189.29,212.170,300.0,NaN,NaN,True,Transit

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl,moving,operating_mode
2670635,9567685,477455600,732583,DA KUN SHAN,2009-12-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-09-30T15:59:30.000Z,2023-09-30,103.801670,...,NaN,3310.0,11.50,195.00,230.00,300.0,453.0,362.0,True,None
2667524,9332262,563927000,769946,KITEK 9,2004-08-01,Bunkering Tanker,Crude & Products Tanker,2023-09-30T15:59:20.000Z,2023-09-30,103.793335,...,NaN,1500.0,11.50,195.00,230.00,300.0,450.0,362.0,True,None
2686944,9466532,538009578,693918,SH SARAH,2021-12-01,Chemical/Products Tanker,Chemical Tanker,2023-09-30T15:58:57.000Z,2023-09-30,103.803340,...,NaN,4000.0,13.30,195.00,230.00,300.0,454.0,362.0,True,None
2686454,9323807,538010135,749942,SC GOLD OCEAN,2007-01-01,Chemical/Products Tanker,Chemical Tanker,2023-09-30T15:58:49.000Z,2023-09-30,103.806660,...,NaN,9488.0,14.50,185.00,230.00,300.0,506.0,365.0,True,None
2679220,9685059,533130976,867357,ORKIM GLORY,2013-06-01,Products Tanker,Crude & Products Tanker,2023-09-30T15:58:41.000Z,2023-09-30,103.788330,...,NaN,3310.0,13.50,195.00,230.00,300.0,458.0,363.0,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448595,9742376,565140000,809410,EVER BRIGHT,2014-08-01,Bunkering Tanker,Crude & Products Tanker,2023-08-01T00:00:03.000Z,2023-08-01,103.816315,...,NaN,894.0,9.50,195.00,230.00,300.0,NaN,NaN,True,None
2454348,9951616,563187800,965024,PSA PHOENIX,2023-04-01,Tug,Tug Boat,2023-08-01T00:00:03.000Z,2023-08-01,103.760720,...,NaN,3958.0,12.00,195.00,230.00,300.0,NaN,NaN,True,None
2448274,9910997,563132900,829742,ESSENCE,2021-08-01,Bunkering Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.757890,...,NaN,2470.0,11.60,195.00,230.00,300.0,NaN,NaN,True,None
2429159,9204025,564759000,645243,I MOLA,1995-01-01,Passenger Ship,Passenger/Cruise,2023-08-01T00:00:00.000Z,2023-08-01,103.788600,...,NaN,1830.0,26.00,205.00,230.00,300.0,NaN,NaN,True,None
2452535,9612557,538004558,866234,ASPHALT SPIRIT,2012-02-01,Asphalt/Bitumen Tanker,Crude & Products Tanker,2023-08-01T00:00:00.000Z,2023-08-01,103.796524,...,NaN,4500.0,13.63,189.29,212.17,300.0,NaN,NaN,True,None

In [101]:
timesort = df.sort_values(by=['vessel_id','timestamp'],ascending = [True,True])
timesort.loc[:,["vessel_id","speed","operating_mode","maneuvering_zone","anchorage","berth"]].head(20)

,vessel_id,speed,operating_mode,maneuvering_zone,anchorage,berth
1263606,642942,NaN,None,NaN,NaN,NaN
1263607,642942,6.0,Transit,NaN,NaN,NaN
119436,643322,NaN,None,NaN,NaN,NaN
119437,643322,9.0,Transit,NaN,NaN,NaN
116228,643322,6.0,Maneuvering,PPT Maneouvering Zone,NaN,NaN
116229,643322,6.0,Maneuvering,PPT Maneouvering Zone,NaN,NaN
119438,643322,6.0,Transit,NaN,PPT Anchorage,NaN
85250,643322,6.0,Transit,NaN,PPT Anchorage,NaN
119439,643322,6.0,Transit,NaN,PPT Anchorage,NaN
119440,643322,6.0,Transit,NaN,PPT Anchorage,NaN
119441,643322,6.0,Transit,NaN,PPT Anchorage,NaN
119442,643322,6.0,Transit,NaN,PPT Anchorage,NaN
119443,643322,4.0,Transit,NaN,PPT Anchorage,NaN
119444,643322,3.0,Transit,NaN,PPT Anchorage,NaN
85251,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN
85252,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN
85253,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN
85254,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN
85255,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN
85256,643322,0.0,Anchorage,NaN,PPT Anchorage,NaN

In [108]:
df2= df.copy()
df2.sort_values(by=['vessel_id','timestamp'],ascending = [True,True], inplace = True)

In [110]:
df2.loc[:,["vessel_id","timestamp"]].head(20)

         vessel_id                 timestamp
1263606     642942  2023-09-08T04:35:02.000Z
1263607     642942  2023-09-08T04:35:52.000Z
119436      643322  2023-09-10T05:05:11.000Z
119437      643322  2023-09-10T05:05:12.000Z
116228      643322  2023-09-10T05:10:15.000Z
116229      643322  2023-09-10T05:10:16.000Z
119438      643322  2023-09-10T05:15:00.000Z
85250       643322  2023-09-10T05:15:01.000Z
119439      643322  2023-09-10T05:20:12.000Z
119440      643322  2023-09-10T05:20:21.000Z
119441      643322  2023-09-10T05:25:16.000Z
119442      643322  2023-09-10T05:26:15.000Z
119443      643322  2023-09-10T05:30:00.000Z
119444      643322  2023-09-10T05:30:19.000Z
85251       643322  2023-09-10T05:35:45.000Z
85252       643322  2023-09-10T05:36:44.000Z
85253       643322  2023-09-10T05:41:14.000Z
85254       643322  2023-09-10T05:41:47.000Z
85255       643322  2023-09-10T05:47:11.000Z
85256       643322  2023-09-10T05:50:11.000Z

In [130]:
from datetime import datetime, timedelta
df2["timestamp"] = pd.to_datetime(df2["timestamp"], format = "%Y-%m-%dT%H:%M:%S.%f%z")
td= timedelta(seconds=10000)

In [132]:
df2["futuretime"] = df2["timestamp"] + td

In [133]:
df2.loc[:,["vessel_id","timestamp","futuretime"]].head(20)

         vessel_id                 timestamp                futuretime
1263606     642942 2023-09-08 04:35:02+00:00 2023-09-08 07:21:42+00:00
1263607     642942 2023-09-08 04:35:52+00:00 2023-09-08 07:22:32+00:00
119436      643322 2023-09-10 05:05:11+00:00 2023-09-10 07:51:51+00:00
119437      643322 2023-09-10 05:05:12+00:00 2023-09-10 07:51:52+00:00
116228      643322 2023-09-10 05:10:15+00:00 2023-09-10 07:56:55+00:00
116229      643322 2023-09-10 05:10:16+00:00 2023-09-10 07:56:56+00:00
119438      643322 2023-09-10 05:15:00+00:00 2023-09-10 08:01:40+00:00
85250       643322 2023-09-10 05:15:01+00:00 2023-09-10 08:01:41+00:00
119439      643322 2023-09-10 05:20:12+00:00 2023-09-10 08:06:52+00:00
119440      643322 2023-09-10 05:20:21+00:00 2023-09-10 08:07:01+00:00
119441      643322 2023-09-10 05:25:16+00:00 2023-09-10 08:11:56+00:00
119442      643322 2023-09-10 05:26:15+00:00 2023-09-10 08:12:55+00:00
119443      643322 2023-09-10 05:30:00+00:00 2023-09-10 08:16:40+00:00
119444      643322 2023-09-10 05:30:19+00:00 2023-09-10 08:16:59+00:00
85251       643322 2023-09-10 05:35:45+00:00 2023-09-10 08:22:25+00:00
85252       643322 2023-09-10 05:36:44+00:00 2023-09-10 08:23:24+00:00
85253       643322 2023-09-10 05:41:14+00:00 2023-09-10 08:27:54+00:00
85254       643322 2023-09-10 05:41:47+00:00 2023-09-10 08:28:27+00:00
85255       643322 2023-09-10 05:47:11+00:00 2023-09-10 08:33:51+00:00
85256       643322 2023-09-10 05:50:11+00:00 2023-09-10 08:36:51+00:00

In [ ]:
df2["flag"] = 1